html body {
    background-color: #d2d2d2;
}

.navbar {
	background-color: #0d2569;
	border-radius: 0;
	border-width: 0;
    box-shadow: none;
}

.container-fluid {
	margin: 0% 10% 0% 10%;
}

.container-fluid .navbar-header .nav {
	flex: 1;
}

.article-grid {
	display: flex;
	margin: 5% 10% 5% 10%;
	background-color: #FFFFFF;
	padding: 2%;
}

.article-grid .article-col {
	flex: 1;
}

#label {
	color: #0d2569;
	font-family: 'Rajdhani';
	font-size: 2vw;
	font-weight: 1000;
	text-shadow: .1vw .1vw #d4e0f3;
}